home/vim/*
!home/vim/patches
!home/vim/colors/
config/mpd/password.conf
config/picom/lock.conf
config/tmux/plugins
data
.stignore
.stfolder/

# Backup files and temporary files
tmp/
*.tmp
*.log
*.old
*.bak
*.swp
*~
