home/vim/*
!home/vim/patches
!home/vim/colors/
config/mpd/password.conf
backup/backup.conf
actions/trigger_backup.sh
.stignore
.stfolder/

# Backup files and temporary files
tmp/
*.tmp
*.log
*.old
*.bak
*.swp
*~
