[Unit]
Description=User Backup

[Service]
Type=simple
Nice=19
IOSchedulingClass=2
IOSchedulingPriority=7
ExecStart=systemd-inhibit --what=sleep:shutdown --mode delay --who Backup --why 'Ensure backup completion' /usr/bin/env USER_TARGET="$(getent passwd 1000 | cut -d: -f1)" "$(getent passwd 1000 | cut -d: -f6)"/.local/share/backup/backup.sh

[Install]
RequiredBy=multi-user.target
