[Unit]
Description=Battery Notification
 
[Service]
Type=simple
Nice=19
ExecStart=/usr/bin/env /root/battery.sh

[Install]
RequiredBy=multi-user.target
